.logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.mr-10 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 1rem;
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .mobile-padding {
    padding: 0px !important;
  }
}
